<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/globals.html :: headerInfo(~{::title})">
    <title>Competitions page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <table class="table-striped">
                    <thead>
                    <tr>
                        <td>Competition name</td>
                        <td>Competition poules</td>
                        <td>Kolom per poule</td>
                        <td>Remove</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="competition:${competitions}">
                        <td th:text="${competition.name}"></td>
                        <td th:text="${competition.poules}"></td>
                        <!--Following two lines are for thymeleaf + IntelliJ error prevention-->
                        <!--/*@thymesVar id="poule" type="nl.badminton.competition.badminton.competition.dto.PouleDto"*/-->
                        <!--@thymesVar id="name" type="String"-->
                        <td th:each="poule : ${competition.getPoules()}" th:text="${poule.name}"></td>
                        <td>
                            <form th:action="@{/competitions/delete}" th:object="${transfer}" method="post">
                                <input type="hidden" name="id" th:value="${competition.id}">
                                <input type="hidden" name="name" th:value="${competition.name}">
                                <input type="hidden" name="poules" th:value="${competition.poules}">
                                <button type="submit">
                                    <svg th:replace="fragments/globals.html :: minus"></svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form th:replace="competitionForm.html :: createForm"></form>
            </div>
            <div>
                <form th:replace="competitionForm.html :: updateForm"></form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/globals.html :: bottom_scripts"></div>
</body>
</html>