<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/globals.html :: headerInfo(~{::title})">
    <title>Competitions page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <form th:fragment="createForm" th:object="${createCompetition}" th:action="@{/competitions/save}" method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">@</div>
                    </div>
                    <input th:field="*{name}"
                           type="text" class="form-control"
                           placeholder="Input competition name"
                           aria-label="Input competition name"
                           aria-describedby="btnGroupAddon">
                </div>
                <input type="submit" />
            </form>

            <form th:fragment="updateForm" th:object="${updateCompetition}"
                  th:action="@{/competitions/save}" method="post">
                <select th:field="*{id}">
                    <option th:each="competition : ${competitions}"
                            th:value="${competition.id}"
                            th:text="${competition.name}">
                    </option>
                </select>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon2">@</div>
                    </div>
                    <input th:field="*{name}"
                           type="text" class="form-control"
                           placeholder="Input competition name"
                           aria-label="Input competition name"
                           aria-describedby="btnGroupAddon2">
                </div>
                <input type="submit" />
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/globals.html :: bottom_scripts"></div>
</body>
</html>