<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/globals.html :: headerInfo(~{::title})">
    <title>Badminton index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>For now data is processed through commandline</h1>
            <p>Working on services and DTO</p>
            <ul>
                <li><a th:href="@{/competitions}">Competition Overview</a></li>
                <li><a th:href="@{/poules}">Poules Overview</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/globals.html :: bottom_scripts"></div>
</html>