<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/globals.html :: headerInfo(~{::title})">
    <title>Poule page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table-striped">
                <thead>
                <tr>
                    <td>Poule name</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="poule:${allPoules}">
                    <td th:text="${poule.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/globals.html :: bottom_scripts"></div>
</body>
</html>